nav{
    background-color: rgb(101 58 101 / 33%);
    height: 63px;
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: center;
}
a{
    border: 1px solid rgba(255, 255, 255, 0.913);
    text-decoration: none;
    color: black;
    border-radius: 8px;
    padding: 12px 30px;
    cursor: pointer;
    margin: 10px 10px;
    display: flex;
    justify-content: center;
    font-family: 'Bungee Spice', sans-serif;
}
a:hover{
    /* transform: scale(1.05); */
    font-size: 17px;
    border-radius: 8px;
    transition: 0.4s;
    transition-delay: 0.01s;
    background-color: rgb(233, 196, 239);
    border: 2px solid rgb(233, 196, 239);
}
a.project-link{
    border: 1px solid black;
    text-decoration: none;
    color: black;
    padding: 12px 30px;
    cursor: pointer;
    margin: 10px 10px;
    display: flex;
    justify-content: center;
    /* font-weight: 600; */
    font-size: 18px;
    border-radius: 12px;
    font-family: 'Tektur', sans-serif;
    background-color: #d4bfd3f0;
}
a.project-link:hover{
    font-size: 20px;
    /* font-weight: 600; */
    transition: 0.4s;
    background-color: rgb(243, 249, 255);
}
.project-link{
    color: black;
    background-color: #fff;
}
h1{
    font-family: 'Salsa', cursive;
}