nav{
    background-color: rgb(101 58 101 / 33%);
    height: 63px;
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: center;
}
a{
    border: 1px solid rgba(255, 255, 255, 0.913);
    text-decoration: none;
    color: black;
    border-radius: 8px;
    padding: 12px 30px;
    cursor: pointer;
    margin: 10px 10px;
    display: flex;
    justify-content: center;
    font-family: 'Bungee Spice', sans-serif;
}
a:hover{
    /* transform: scale(1.05); */
    font-size: 17px;
    border-radius: 8px;
    transition: 0.4s;
    transition-delay: 0.01s;
    background-color: rgb(239, 196, 208);
    border: 2px solid rgb(233, 196, 239);
}
h1{
    margin: auto;
    width: 249px;
    padding-bottom: 10px;
    padding-top: 20px;

}
p{
    margin: auto;
    width: 305px;
    padding: 4px 11px;

}
button{
    margin: 10px 247px;
    width: 227px;
    padding: 9px 11px;
    display: block;
    cursor: pointer;
}
h3{
    display: block;
    width: 215px;
    margin: auto;
    padding-top: 50px;
    padding-bottom: 7px;
}
#weight-guide{
    margin: auto;
    width: 288px;
    padding: 4px 11px;
}
form{
    padding-top: 25px;
}