h1{
    margin: auto;
    width: 249px;
    padding-bottom: 10px;

}
p{
    margin: auto;
    width: 305px;
    padding: 4px 11px;

}
button{
    margin: 10px 247px;
    width: 227px;
    padding: 9px 11px;
    display: block;
    cursor: pointer;
}
h3{
    display: block;
    width: 215px;
    margin: auto;
    padding-top: 50px;
    padding-bottom: 7px;
}
#weight-guide{
    margin: auto;
    width: 288px;
    padding: 4px 11px;
}
form{
    padding-top: 25px;
}